<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 text-center">
      <%= image_tag "top_guide.png", size: "300x300" %>
    </div>
    <div class="col-lg-4" id="allow-text">
      <p>歯ブラシ Lifeへようこそ！</p>
      <p>このページで、アプリの使い方をご案内いたします！</p>
      <p>早速使い方を見ていきましょう！</p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <p>このアプリでは、LINEを使用した通知機能がご利用いただけます。</p>
      <p>通知を受け取るために、まずは下のボタンをクリックして<br class="d-sm-none"/>このアプリを友だち追加しましょう！</p>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-3 text-center">
      <p>まずは使う歯ブラシを検索しましょう！</p>
    </div>
    <div class="col-lg text-center">
      <%= image_tag  "top_guide.png", size: "300x300" %><%#本番では検索画面のスクショを使用%>
    </div>
  </div>
  <div class="row align-items-center mt-5">
    <div class="col-lg text-center">
      <%= image_tag  "top_guide.png", size: "300x300" %><%#本番では編集画面のスクショを使用%>
    </div>
    <div class="col-lg-3 text-center">
      <p>選んだ後はブラシの材質、固さ、いつまで使うかを決められます！</p>
      <p>歯ブラシのことがわからない時は、名前をクリックしてその歯ブラシのページに移動して確認出来ます！</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row align-items-center mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-3 text-center">
      <p>友だち登録をしていると、使い終わる日にメッセージが受け取れます！</p>
    </div>
    <div class="col-lg text-center">
      <%= image_tag  "top_guide.png", size: "300x300" %><%#本番ではLINEメニューのスクショを使用%>
    </div>
  </div>
  <div class="row align-items-center mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-3 text-center">
      <p>メッセージを受け取った後は歯ブラシをリサイクルするか、掃除道具として再利用するかを選びましょう！</p>
    </div>
    <div class="col-lg text-center">
      <%= image_tag  "top_guide.png", size: "300x300" %><%#本番ではLINEメニューのスクショを使用%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <p>実は、歯ブラシはリサイクルが行われているのです！</p>
      <p>LION株式会社さんが、歯ブラシのリサイクルプログラムを実施しており、各地にリサイクルBOXでリサイクルが行えます。</p>
      <p>リサイクルが行われている場所の地図がございますので、もしお近くでリサイクルが行われていたら、ぜひ利用してみてください！</p>
      <p>もちろん、汚れを綺麗にするために掃除道具にしちゃうのも良いでしょう！</p>
      <p>歯ブラシで歯を綺麗にした後は、地球や身の回りを綺麗にしちゃいましょう！</p>
    </div>
  </div>
</div>
