<div class="top-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 text-center pt-5">
        <h1 class="mt-3 pt-5" id="top-text">歯ブラシLife!</h1>
      </div>
      <div class="text-center pt-4 pb-2" id="catch-copy">
        <h3>みんなで歯も地球も綺麗にしましょう!</h4>
      </div>
      <div class="text-center pt-4">
        <% unless logged_in? %>
          <%= link_to "ゲストログイン", guest_login_path, class:"top-link me-4 pe-2" %>
        <% end %>
        <%= link_to "環境改善度を確認する", environment_path, class:"top-link" %>
      </div>
    </div>
  </div>
</div>

<div class="top-contents">
  <div class="container-fluid">
    <div class="container pb-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <%= image_tag "application_guide.png", class:"img-fluid mb-1 mt-3" %>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 text-center">
          <h1 class="mb-4 tutorial-text">歯ブラシLife!は歯ブラシの情報共有と定期的な交換をサポートするアプリです。</h1>
          <p class="tutorial-text">
            歯ブラシは使い始めて1ヶ月で毛先が広がり、磨く力が弱くなります。
            <br class="d-none d-lg-block"/>
            磨き残しが出て虫歯の原因となるので、歯ブラシLife!で定期的な交換を行いましょう!
            <br class="d-none d-lg-block"/>
            どんな歯ブラシが使われているのかも確認できるので、新しい歯ブラシの発見に役立ててください!
          </p>
          <div class="d-flex align-items-center mt-2 justify-content-center">
            <p class="me-3 mb-0" id="line-friend-text">アプリのLINEアカウントを友だち追加して、交換の通知を受け取りましょう!</p>
            <a href="https://lin.ee/2jlm07B"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 container border-bottom border-dark">
    <h1>使い方</h1>
  </div>

  <div class="container-fluid py-2 my-2">
    <div class="container pt-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-7 col-md-6 col-sm-12 text-center">
          <h1 class="mb-4 border-bottom border-dark tutorial-text">まずは使いたい歯ブラシを検索</h1>
          <p class="tutorial-text">歯ブラシの名前はもちろん、知っているメーカーで検索してみましょう</p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <%= image_tag "search_guide.png", class:"img-fluid mb-1 mt-3" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 my-2">
    <div class="container pt-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <%= image_tag "edit_guide.png", class:"img-fluid mb-1 mt-3" %>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 text-center">
          <h1 class="mb-4 border-bottom border-dark tutorial-text">歯ブラシが見つかったら、<br class="d-none d-lg-block"/>歯ブラシの情報と使い終わる日を入力</h1>
          <p class="tutorial-text">一般的な歯ブラシの交換の目安は1ヶ月ですが、<br class="d-none d-lg-block"/>ご自身のライフスタイルに合った交換時期を探してみるのもいいでしょう</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 my-2">
    <div class="container pt-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-7 col-md-6 col-sm-12 text-center">
          <h1 class="border-bottom border-dark tutorial-text">メッセージを受け取れるようにしていると、使い終わる日にお知らせします。</h1>
          <p class="tutorial-text">使い終わったあとは歯ブラシをリサイクルするか、掃除道具として使うか決めましょう！</p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <%= image_tag "notice_guide.png", class:"img-fluid mb-1 mt-3" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-2 mt-2 pb-5 mb-5">
    <div class="container pt-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
          <div class="h-100 position-relative">
            <%= image_tag "guide.jpg", class:"img-fluid mb-1 mt-3" %>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 text-center">
          <h1 class="tutorial-text">そうです、<br class="d-none d-lg-block tutorial-text"/>歯ブラシはリサイクルができます！</h1>
          <p class="tutorial-text">LION株式会社さんによる、歯ブラシのリサイクルプログラムが全国で実施されています。</p>
          <%= link_to "リサイクルプログラムについて", "https://www.lion.co.jp/ja/sustainability/toothbrush-recycling/", class: "me-2 top-link" %>
          <%= link_to "主なリサイクル実施箇所", "https://www.google.com/maps/d/u/0/viewer?mid=1vfm_m3NM73IKEE5VYVRhkV1q_La1juz0&hl=ja&ll=33.868659968878575%2C132.5573857&z=6", class:"ms-2 top-link" %>
          <p class="tutorial-text">この機会に、リサイクルプログラムとリサイクルが行われている場所を是非確認してみてください!</p>
          <p class="tutorial-text">もしかしたら、あなたのお家の近くでリサイクルが行われているかもしれません・・・</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-center tutorial-text">説明は以上です。歯も地球もきれいにしましょう！</h3>

  <div class="text-center py-4">
    <% if logged_in?%>
      <%= link_to "ログアウト", logout_path, data: { 'turbo_method': :delete }, class:"btn my-2", id:"login-button" %>
    <% else %>
      <%= link_to "ゲストログイン", guest_login_path, class:"btn my-2 toothbrush-menu-button" %>
      <p>(LINE通知以外の機能をご利用できます)</p>
      <%= link_to "LINEでログイン", user_sessions_login_path, class: "btn my-2", id:"login-button" %>
    <% end %>
  </div>
</div>