<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 offset-lg-1 text-center mt-3">
      <% if logged_in? && @user.id == current_user.id %>
        <h3><%= "マイページ" %></h3>
        <div class="row justify-content-center">
          <div class="card col-lg-6 px-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= "ユーザー名:#{current_user.name}" %>
              </li>
              <li class="list-group-item">
                <%= link_to 'ユーザー編集',  edit_user_path(current_user) %>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="mt-3"><%= "マイ歯ブラシ"%></h4>
      <% else %>
        <h3 class="mb-5"><%= "#{@user.name}さんのページ" %></h3>
        <h4><%= "これまでに使用された歯ブラシ"%></h4>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12 table-responsive-lg">
        <table class="table">
          <thead class="thead-primary text-center">
            <tr>
              <th>&nbsp;</th>
              <th>名前</th>
              <th>材質</th>
              <th>柔らかさ</th>
              <th>使用状況</th>
              <th>使用終了日</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="align-baseline text-center">
            <%= render partial: "user_toothbrushes", collection: @toothbrushes, as: :toothbrush %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>