<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 offset-lg-1 text-center mt-3">
      <% if logged_in? && @user.id == current_user.id %>
        <h4><%= "プロフィールページ" %></h4>
        <%= link_to 'ユーザー情報を編集する',  edit_user_path(current_user) %>
      <% else %>
        <h4><%= "#{@user.name}さんのプロフィールページ" %></h4>
      <% end %>
    </div>
    <% @user.toothbrushes.each do |toothbrush| %>
      <div class="col-sm-12 col-lg-2 mb-3">
        <div class="card">
          <%= image_tag toothbrush.item_image_urls, size: '128x128' if toothbrush.item_image_urls.present? %>
          <div class="card-body" id="index-card">
            <p class="card-title">
              <%= toothbrush.item_name %>
            </p>
            <ul class="list-group">
              <li class="list-group-item text-center">
                <%= link_to 'この歯ブラシの情報を確認する',  toothbrush_path(toothbrush) %>
              </li>
              <li class="list-group-item text-center">
                <%= "使用状況:#{toothbrush.state_i18n}" %>
              </li>
              <% if toothbrush.end_use_at %>
              <li class="list-group-item text-center">
                <%= "使用終了日: #{toothbrush.end_use_at.strftime('%Y-%m-%d')}" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>