<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 offset-lg-1 text-center mt-3">
      <% if logged_in? && @user.id == current_user.id %>
        <h3><%= "マイページ" %></h3>
        <div class="row justify-content-center">
          <div class="card col-lg-6 px-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= "ユーザー名:#{current_user.name}" %>
              </li>
              <li class="list-group-item">
                <%= link_to 'ユーザー編集',  edit_user_path(current_user), data: { turbo: false } %>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="mt-3"><%= "マイ歯ブラシ"%></h4>
      <% else %>
        <h3 class="mb-5"><%= "#{@user.name}さんのページ" %></h3>
        <h4><%= "これまでに使用された歯ブラシ"%></h4>
      <% end %>
    </div>
    <div class="table-responsive-lg">
      <%= render partial: "user_toothbrushes", collection: @user.toothbrushes, as: :toothbrush %>
    </div>
  </div>
</div>