<footer class="mt-auto">
  <div class="container-fluid" id="footer">
    <div class="container">
      <div class="row text-lg-center text-md-center pt-3">
        <div class="col-md-1"></div>
        <div class="col-md-2 py-2">
          <%= link_to "利用規約", terms_path, class:'footer-link' %>
        </div>
        <div class="col-lg-2 col-md-2 py-2">
          <%= link_to "プライバシーポリシー", privacy_policy_path, class:'footer-link' %>
        </div>
        <div class="col-lg-2 col-md-2 py-2">
          <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSdIrszOUpe3bT9QyJ-RsZDSV6evG_icrYJAs-1eKggamGoy8Q/viewform", class:'footer-link' %>
        </div>
        <div class="col-md-2 d-none d-md-block py-2">
          <%= link_to "友だち追加", "https://lin.ee/2jlm07B", class:'footer-link', rel: 'noopener' %>
        </div>
        <div class="col-md-2 d-none d-md-block py-1">
          <%= link_to "https://twitter.com/share?url=#{ "https://www.haburashi-life.com" }&text=みんなで歯と地球を綺麗にしましょう！%0a%0a", 
                      class: 'footer-x-twitter', target: '_blank', rel: 'noopener'  do %>
            <i class="fa-brands fa-square-x-twitter fa-2x" style = "vertical-align: middle;"></i>
          <% end %>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row text-center mt-1">
        <div class="col"><p class='copy-right'>©2023 Haburashi-Life All Rights Reserved.</p></div>
      </div>
    </div>
  </div>
</footer>