<header>
  <div class="container-fluid bg-primary">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg py-0">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1 class="text-white fw-bold d-block">歯ブラシLife!</h1>
        <% end %>
        <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
        </div>
          <div class="navbar-nav ms-auto mx-xl-auto">
            <% unless logged_in?%>
              <%= link_to "ログイン", user_sessions_login_path, class: "nav-item nav-link active" %>
            <% end %>
            <%= link_to "使われている歯ブラシの一覧", toothbrushes_path, class: "nav-item nav-link active" %>
            <% if logged_in? %>
              <%= link_to "歯ブラシの検索", toothbrush_search_path, class: "nav-item nav-link active" %>
              <%= link_to "ユーザー編集", edit_user_path(current_user), class: "nav-item nav-link active" %>
              <%= link_to 'ログアウト', logout_path, data: { 'turbo_method': :delete }, class: "nav-item nav-link inactive" %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>