<div class="container-fluid" id="search-form">
  <div class="row py-3">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1 >検索結果</h1>
    </div>
  </div>
  <% if @results.present? %>
    <div class="row">
      <% @results.each do |result| %>
        <div class="col-sm-12 col-md-4 col-lg-3 pb-2">
          <%= render "dental_items/search_result", result: result %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">ごめんなさい！このキーワードを持つデンタルグッズは、楽天市場には無いみたいです・・・</p>     
    <p class="text-center">検索ワードを変えてもう一度検索してみてください。</p> 
    <%= render 'shared/search_form', url: new_toothbrush_dental_item_path %>
    <%= render 'search_guide' %>
  <% end %>
  <%= render 'shared/moving_text' %>
  <%= paginate @results, pagination_class: "flex-wrap justify-content-center", theme: 'bootstrap-5'%>
</div>

<body id="brush-search-body">
  <%= render 'shared/loading_animation' %>
</body>