<div class="container" id="search-form">
  <div class='text-center'>
    <h1 class="mt-5">歯ブラシと一緒に使うデンタルグッズを登録しましょう!</h1>
    <h1>(5つまで登録出来ます)</h1>
  </div>
  <div class="container" >
    <div class="col-lg-6 mx-auto">
      <%= form_with url: new_toothbrush_dental_item_path, method: :get, local: true do |f| %>
      <div class="input-group">
        <%= f.text_field :keyword, value: params[:keyword], placeholder: 'デンタルグッズの名前、メーカー名を入力して楽天市場から検索', class: "form-control mb-5 mt-2" %>
        <%= f.submit '製品を検索', class: "btn btn-success mb-5 mt-2", id: "search-start" %>
      </div>
      <% end %>
    </div>
    <div class="text-center">
      <h2>検索できるデンタルグッズ</h2>
    </div>
    <div class="row justify-content-evenly align-items-start">
      <div class="col col-lg-3">
        <%= image_tag "dental_floss.png", class:"img-fluid mx-auto" %>
      </div>
      <div class="col col-lg-3">
        <%= image_tag "one_tuft_brush.png", class:"img-fluid mx-auto" %>
      </div>
      <div class="col col-lg-3">
        <%= image_tag "interdental_brush.png", class:"img-fluid mx-auto" %>
      </div>
      <div class="col col-lg-3">
        <%= image_tag "dental_paste.png", class:"img-fluid mx-auto" %>
      </div>
    </div>
    <div class='text-center mt-3'>
      <h5>他にもマウスウォッシュ、舌クリーナー・タンクリーナー、ヤニ取り、口臭予防剤、入れ歯洗浄剤、入れ歯安定剤が検索できます。</h5>
    </div>
  </div>
</div>

<body id="brush-search-body">
  <div class="loader" id="loading_animation">
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
  </div>
  <div class="container" id="loading_text">
    <div class="row">
      <div class="loader-text col text-center">
        <h1>検索します！</h1>
        <h1>しばらくお待ちください・・・</h1>
      </div>
    </div>
  </div>
</body>