<div class="col-12 col-sm-6 col-lg-3 mb-3">
  <div id="toothbrushes-index">
    <div class="card rounded-0 border-2" id="<%= border_color(toothbrush) %>">
      <div class="text-center">
        <%= image_tag toothbrush.item_image_urls, size: '128x128' if toothbrush.item_image_urls.present? %>
      </div>
      <div class="card-body" id="card-font">
        <p class="card-title text-center" title="<%= toothbrush.item_name %>">
          <%= truncate(toothbrush.item_name, length: 25) %>
        </p>
        <ul class="list-group">
          <%  if toothbrush.comment.present? %>
            <li class="list-group-item text-center rounded-0 border-start-0  border-end-0">
              <%= truncate(toothbrush.comment, length: 25) %>
            </li>
          <% end %>
          <li class="list-group-item text-center rounded-0 border-start-0  border-end-0 border-bottom-0">
            <%= link_to '詳細', toothbrush_path(toothbrush), class:"btn btn-dark rounded-pill", id:"toothbrush-button" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>