<div class="col-sm-12 col-lg-4 mb-3">
  <div id="toothbrushes-index">
    <div class="card">
      <%= image_tag toothbrush.item_image_urls, size: '128x128' if toothbrush.item_image_urls.present? %>
      <div class="card-body" id="index-card">
        <p class="card-title">
          <%= toothbrush.item_name %>
        </p>
        <ul class="list-group">
          <li class="list-group-item text-center">
            <%= link_to 'この歯ブラシの詳細を見る',  toothbrush_path(toothbrush) %>
          </li>
          <li class="list-group-item text-center">
            <%= "使っている人:#{toothbrush.user.name}" %>
          </li>
          <li class="list-group-item text-center">
            <%= "使用状況:#{toothbrush.state_i18n}" %>
          </li>
          <% if toothbrush.end_use_at %>
          <li class="list-group-item text-center">
            <%= "使用終了日: #{toothbrush.end_use_at.strftime('%Y-%m-%d')}" %>
          </li>
          <% end %>
          <li class="list-group-item text-center">
            <%= link_to '商品ページはこちら(楽天市場に移動します)', toothbrush.item_url %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>