<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= '歯ブラシの編集' %></h1>
      <p><%= link_to @toothbrush.item_name, @toothbrush.item_url %>
      <%= form_with model: @toothbrush, local: true do |f| %>
        <div class="form-group mb-2">
          <%= f.label :brush_material, "ブラシの材質" %>
          <%= f.select :brush_material, Toothbrush.brush_materials_i18n.invert.map{|key, value| [key, value]}, 
                                        { selected: 'nylon_hair' }, class: 'form-control' %>
        </div>
        <div class="form-group mb-2">
          <%= f.label :hardness, "ブラシのかたさ" %>
          <%= f.select :hardness, Toothbrush.hardnesses_i18n.invert.map{|key, value| [key, value]}, 
                                  { selected: 'normal' }, class: 'form-control' %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :end_time, "使用終了日 (右のカレンダーマークをクリックすることで日付が選べます)" %>
          <%= f.datetime_field :end_time, class: 'form-control', value: @toothbrush.created_at.since(1.month).strftime('%Y-%m-%dT%T') %>
        </div>
          <%= f.submit "これで決定", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
