<div>
  <div class='text-center'>
    <h1>歯ブラシを登録しよう！</h1>
  </div>
  <div class="container" >
    <div class="search-box">
      <%= form_with url: new_toothbrush_path, method: :get, local: true do |f| %>
        <div class="form-group">
            <%= f.text_field :keyword, value: params[:keyword], placeholder: '製品名を入力して検索', class: "form-control" , style: "width:40%" %>
            <%= f.submit '製品を検索', class: "form-control btn btn-success" %>
        </div>
      <% end %>
    </div>
    <%= link_to 'ログアウト', logout_path, data: { 'turbo_method': :delete }%>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-count="true" data-home="true" data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>
  <%= link_to "使われている歯ブラシを見る", toothbrushes_path %>
</div>