<div class="container" id="search-form">
  <div class='text-center'>
    <h1 class="mt-5 mb-3">使いたい歯ブラシを登録しましょう！</h1>
  </div>
  <div class="col col-lg-6 mx-auto">
    <%= form_with url: new_toothbrush_path, method: :get, local: true do |f| %>
      <div class="input-group">
        <%= f.search_field :keyword, value: params[:keyword], class: "form-control mb-3 mt-2", id: "text-form" %>
        <%= f.submit '歯ブラシを検索', class: "btn btn-success mb-3 mt-2", id: "search-start" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="dropdown">
        <button class="btn dropdown-toggle me-lg-5 search-guide-button mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="toothbrush-show-button">
          主要なメーカーで検索
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" id="search-guide">メーカー名をクリックすると、検索フォームに入力されます!</a></li>
          <li><a class="dropdown-item" id="dropdown-text">LION</a></li>
          <li><a class="dropdown-item" id="dropdown-text">花王</a></li>
          <li><a class="dropdown-item" id="dropdown-text">サンスター</a></li>
          <li><a class="dropdown-item" id="dropdown-text">エビス</a></li>
          <li><a class="dropdown-item" id="dropdown-text">アイオニック</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="dropdown">
        <button class="btn dropdown-toggle search-guide-button mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="toothbrush-show-button">
          主要なブランドで検索
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" id="search-guide">ブランド名をクリックすると、検索フォームに入力されます!</a></li>
          <li><a class="dropdown-item" id="dropdown-text">GUM</a></li>
          <li><a class="dropdown-item" id="dropdown-text">NONIO</a></li>
          <li><a class="dropdown-item" id="dropdown-text">サンスター</a></li>
          <li><a class="dropdown-item" id="dropdown-text">エビス</a></li>
          <li><a class="dropdown-item" id="dropdown-text">アイオニック</a></li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="text-center mt-3">
    <h2>検索できる歯ブラシ</h2>
  </div>
  <div class="row justify-content-evenly align-items-start">
    <div class="col-6 col-lg-3">
      <%= image_tag "electric_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "normal_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "all_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "toothbrush_guide.png", class:"img-fluid mb-1 mt-3" %>
    </div>
  </div>
</div>

<body id="brush-search-body">
  <div class="loader" id="loading_animation">
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
    <div><span class="animation"></span></div>
  </div>
  <div class="container" id="loading_text">
    <div class="row">
      <div class="loader-text col text-center">
        <h1>検索します！<br class="d-none d-lg-block"/>しばらくお待ちください・・・</h1>
      </div>
    </div>
  </div>
</body>