<div class="container" id="search-form">
  <div class='text-center'>
    <h1 class="mt-5 mb-3">使いたい歯ブラシを登録しましょう！</h1>
  </div>
  <%= render 'shared/search_form', url: new_toothbrush_path %>
  <div class="text-center mt-3">
    <h2>検索できる歯ブラシ</h2>
  </div>
  <div class="row justify-content-evenly align-items-start">
    <div class="col-6 col-lg-3">
      <%= image_tag "electric_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "normal_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "all_brush.png", class:"img-fluid mb-1 mt-3" %>
    </div>
    <div class="col-6 col-lg-3">
      <%= image_tag "toothbrush_guide.png", class:"img-fluid mb-1 mt-3" %>
    </div>
  </div>
</div>

<body id="brush-search-body">
  <%= render 'shared/loading_animation' %>
</body>