<div class="container">
  <div class="row justify-content-center">
    <div class="text-center mt-3">
      <h4>歯ブラシの詳細</h4>
    </div>
    <div class="col-sm-12 col-lg-6 mb-3">
      <div id="toothbrushes-index">
        <div class="card">
          <div class="text-center">
            <%= image_tag @toothbrush.item_image_urls, size: '128x128' %>
          </div>
          <div class="card-body" id="card-font">
            <p class="card-title text-center">
              <%= @toothbrush.item_name %>
            </p>
            <ul class="list-group">
              <li class="list-group-item text-center">
                <%= "使っている人 : #{@toothbrush.user.name}さん" %>
                <p class="pt-2"><%= link_to "ユーザーの詳細を見る", user_path(@toothbrush.user)%></p>
              </li>
              <li class="list-group-item text-center" >
                <span>
                  使用状況 : <span id="<%= "state-#{@toothbrush.state}" %>"><%= "#{@toothbrush.state_i18n}"%></span>
                </span>
              </li>
              <li class="list-group-item text-center">
                <%= "ブラシの材質 : #{@toothbrush.brush_material_i18n}" %>
              </li>
              <li class="list-group-item text-center">
                <%= "ブラシのやわらかさ : #{@toothbrush.hardness_i18n}" %>
              </li>
              <% if @toothbrush.end_use_at %>
                <li class="list-group-item text-center">
                  <%= "使用終了日 : #{@toothbrush.end_use_at.strftime('%Y-%m-%d')}" %>
                </li>
              <% end %>
              <%  if @toothbrush.comment.present? %>
                <li class="list-group-item">
                  <p class="text-center">使ってみたコメント</p>
                  <%= @toothbrush.comment %>
                </li>
              <% end %>
              <% if @toothbrush.user == current_user %>
                <li class="list-group-item text-center">
                  <%= link_to '歯ブラシの編集', edit_toothbrush_path(@toothbrush), 
                      class:"btn btn-dark me-2", id:"toothbrush-button" %>
                  <%= link_to 'デンタルグッズも使う', dental_items_search_path(@toothbrush), 
                      class:"btn btn-dark ms-2", id:"toothbrush-button" %>
                  <button type="button" class="btn delete-button ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    歯ブラシの削除
                  </button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel">本当に歯ブラシを削除しますか？</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          この操作は取り消せません
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                          <%= link_to '削除する', toothbrush_path(@toothbrush), 
                                              data: { 'turbo_method': :delete }, class: 'btn ms-3 delete-button' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <% if @toothbrush.end_used? || @toothbrush.cleaning? %>
                  <li class="list-group-item text-center d-flex justify-content-center">
                    <div>
                      <button type="button" class="btn recycling-button ms-2" data-bs-toggle="modal" data-bs-target="#recyclingModal" id='state-recycling'>
                        リサイクルする！
                      </button>
                      <div class="modal fade" id="recyclingModal" tabindex="-1" aria-labelledby="recyclingModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="recyclingModalLabel">本当にリサイクルしますか？</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                              <%= link_to '決定', update_state_toothbrush_path(@toothbrush, new_state: :recycling), 
                                                  method: :put, class: 'btn ms-3 recycling-button', id: 'state-recycling' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if @toothbrush.end_used? %>
                      <div>
                        <button type="button" class="btn cleaning-button me-2" data-bs-toggle="modal" data-bs-target="#cleaningModal" id='state-cleaning'>
                          掃除道具として使う！
                        </button>
                        <div class="modal fade" id="cleaningModal" tabindex="-1" aria-labelledby="cleaningModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="cleaningModalLabel">掃除道具として使いますか？</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                掃除道具としても使い終わる際は、是非リサイクルしましょう
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                                <%= link_to '決定', update_state_toothbrush_path(@toothbrush, new_state: :cleaning), 
                                                    method: :put, class: 'btn ms-3 cleaning-button', id: 'state-cleaning' %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
              <% if @toothbrush.recycling? %>
                <li class="list-group-item text-center">
                  <%= link_to '歯ブラシのリサイクルについて', "https://www.lion.co.jp/ja/sustainability/toothbrush-recycling/", 
                      class: "me-2 top-link" %>
                  <%= link_to "リサイクルが行われている場所", "https://www.google.com/maps/d/u/0/viewer?mid=1vfm_m3NM73IKEE5VYVRhkV1q_La1juz0&hl=ja&ll=33.868659968878575%2C132.5573857&z=6", 
                      class: "ms-2 top-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <% if @dental_items.present? %>
          <h4 class="text-center pt-3 pb-5">
            <%= "#{@toothbrush.user.name}さんはこの歯ブラシと一緒に以下のデンタルグッズも使用されています！" %>
          </h4>
          <% @dental_items.each do |dental_item| %>
            <%= render "toothbrushes/dental_item", dental_item: dental_item %>
          <% end %>
        <% else %>
          <p class="text-center">現在、歯ブラシと一緒に使われているデンタルグッズはありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>