<div class="container">
  <div class="row justify-content-center">
    <div class="text-center mt-3">
      <h4>歯ブラシの詳細</h4>
    </div>
    <div class="col-sm-12 col-lg-6 mb-3">
      <div id="toothbrushes-index">
        <div class="card">
          <div class="text-center">
            <%= image_tag @toothbrush.item_image_urls, size: '128x128' %>
          </div>
          <div class="card-body" id="card-font">
            <p class="card-title text-center">
              <%= @toothbrush.item_name %>
            </p>
            <ul class="list-group">
              <li class="list-group-item text-center">
                <%= "使っている人 : #{@toothbrush.user.name}さん" %>
                <p class="pt-2"><%= link_to "ユーザーの詳細を見る", user_path(@toothbrush.user)%></p>
              </li>
              <li class="list-group-item text-center" >
                <span>
                  使用状況 : <span id="<%= "state-#{@toothbrush.state}" %>"><%= "#{@toothbrush.state_i18n}"%></span>
                </span>
              </li>
              <li class="list-group-item text-center">
                <%= "ブラシの材質 : #{@toothbrush.brush_material_i18n}" %>
              </li>
              <li class="list-group-item text-center">
                <%= "ブラシのやわらかさ : #{@toothbrush.hardness_i18n}" %>
              </li>
              <% if @toothbrush.end_use_at %>
                <li class="list-group-item text-center">
                  <%= "使用終了日 : #{@toothbrush.end_use_at.strftime('%Y-%m-%d')}" %>
                </li>
              <% end %>
              <%  if @toothbrush.comment.present? %>
                <li class="list-group-item">
                  <p class="text-center">使ってみたコメント</p>
                  <%= @toothbrush.comment %>
                </li>
              <% end %>
              <% if @toothbrush.user == current_user %>
                <li class="list-group-item text-center">
                  <%= link_to '編集', edit_toothbrush_path(@toothbrush), 
                      class:"btn btn-dark me-2 my-2", id:"toothbrush-button" %>
                  <%= link_to 'デンタルグッズ', dental_items_search_path(@toothbrush), 
                      class:"btn btn-dark m-2", id:"toothbrush-button" %>
                  <% if @toothbrush.using? %>
                    <button type="button" class="btn end-used-button m-2" data-bs-toggle="modal" data-bs-target="#end-usedModal">
                      使い終わる
                    </button>
                    <div class="modal fade" id="end-usedModal" tabindex="-1" aria-labelledby="end-usedModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="end-usedModalLabel">歯ブラシを使い終わりますか？</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-start">
                            <p>現在時刻で歯ブラシの使用を終了します</p>
                            <p>以下の理由での利用がおすすめです</p>
                            <ul>
                              <li>電動歯ブラシを使い終わる場合</li>
                              <li>何らかの理由で歯ブラシを今すぐ使い終わりたい場合</li>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                            <%= link_to '決定', update_state_toothbrush_path(@toothbrush, new_state: :end_used), 
                                                method: :put, class: 'btn ms-3 end-used-button', id: 'state-end-used' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <button type="button" class="btn delete-button m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    削除する
                  </button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel">本当に歯ブラシを削除しますか？</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          この操作は取り消せません
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                          <%= link_to '削除する', toothbrush_path(@toothbrush), 
                                              data: { 'turbo_method': :delete }, class: 'btn ms-3 delete-button' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= link_to "https://twitter.com/share?url=#{ request.url }&text=この歯ブラシ、おすすめです！%0a%0a", 
                              class: 'ms-2', target: '_blank', rel: 'noopener'  do %>
                    <i class="fa-brands fa-square-x-twitter fa-2x" style = "vertical-align: middle;"></i>
                  <% end %>
                </li>
                <% if @toothbrush.end_used? || @toothbrush.cleaning? %>
                  <li class="list-group-item d-flex justify-content-center">
                    <div>
                      <button type="button" class="btn text-center recycling-button ms-2" data-bs-toggle="modal" data-bs-target="#recyclingModal" id='state-recycling'>
                        リサイクルする！
                      </button>
                      <div class="modal fade" id="recyclingModal" tabindex="-1" aria-labelledby="recyclingModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="recyclingModalLabel">リサイクルしますか？</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                              <div>リサイクル場所は少しずつ増えています。</div>
                              <div>「歯ブラシ リサイクル」などで検索して<br />最新情報を確認しましょう！</div>
                              <div>貴方の家の近くで<br />新しくリサイクルが始まるかもしれません・・・</div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                              <%= link_to '決定', update_state_toothbrush_path(@toothbrush, new_state: :recycling), 
                                                  method: :put, class: 'btn ms-3 recycling-button', id: 'state-recycling' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if @toothbrush.end_used? %>
                      <div>
                        <button type="button" class="btn cleaning-button me-2" data-bs-toggle="modal" data-bs-target="#cleaningModal" id='state-cleaning'>
                          掃除道具として使う！
                        </button>
                        <div class="modal fade" id="cleaningModal" tabindex="-1" aria-labelledby="cleaningModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="cleaningModalLabel">掃除道具として使いますか？</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                掃除道具としても使い終わる際は、是非リサイクルしましょう!
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn closed-button" data-bs-dismiss="modal">閉じる</button>
                                <%= link_to '決定', update_state_toothbrush_path(@toothbrush, new_state: :cleaning), 
                                                    method: :put, class: 'btn ms-3 cleaning-button', id: 'state-cleaning' %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
              <% if @toothbrush.recycling? %>
                <li class="list-group-item text-center">
                  <%= link_to '歯ブラシのリサイクルについて', "https://www.lion.co.jp/ja/sustainability/toothbrush-recycling/", 
                      class: "me-2 top-link" %>
                  <%= link_to "主なリサイクル実施場所", "https://www.google.com/maps/d/u/0/viewer?mid=1vfm_m3NM73IKEE5VYVRhkV1q_La1juz0&hl=ja&ll=33.868659968878575%2C132.5573857&z=6", 
                      class: "ms-2 top-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <% if @dental_items.present? %>
          <h4 class="text-center pt-3 pb-5">
            <%= "#{@toothbrush.user.name}さんはこの歯ブラシと一緒に以下のデンタルグッズも使用されています！" %>
          </h4>
          <% @dental_items.each do |dental_item| %>
            <%= render "toothbrushes/dental_item", dental_item: dental_item %>
          <% end %>
        <% else %>
          <p class="text-center">一緒に使われているデンタルグッズはまだありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>